# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
dist/
build/
*.egg-info/

# Virtual Environments
venv/
env/
.env

# IDEs
.vscode/
.idea/

# Project Specific
downloads/
.temp_download/
*.zip
*.log
